<!-- Header fragment for navigation bar -->
<!-- (네비게이션 바를 위한 헤더 프래그먼트) -->
<div th:fragment="headerFragment">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
        </a>



        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">


            </ul>
        </div>

        <form action="/password" method="get" style="margin-left: auto;">
            <button type="submit" style="padding: 6px 12px; font-size: 14px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">
                비밀번호 변경
            </button>
        </form>

    </nav>
</div>