<div th:fragment="sidebarFragment">

    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" th:href="@{/user/pages/index}">
                <span class="align-middle">Planus</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item active">
                    <a class="sidebar-link" th:href="@{/user/pages/index}">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link d-flex align-items-center" th:href="@{/user/pages/calendar/calendar}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle">캘린더</span>
                    </a>
                </li>

                <li class="sidebar-item" th:if="${userRole == 'ROLE_ADMIN'}">
                    <a class="sidebar-link d-flex align-items-center" th:href="@{/user/pages/api/menuManagement}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle">메뉴 관리</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link d-flex align-items-center" th:href="@{/user/pages/convention/commit}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle">Commit Convention</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link d-flex align-items-center" th:href="@{/user/pages/convention/pr}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle">PR Convention</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link d-flex align-items-center" th:href="@{/user/pages/convention/issue}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle">Issue Convention</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link d-flex align-items-center" th:href="@{/user/pages/board/commitList}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle">최근 Commit List</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link d-flex align-items-center" th:href="@{/user/pages/board/prList}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle">최근 PR List</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link d-flex align-items-center" th:href="@{/user/pages/board/issueList}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle">최근 issue List</span>
                    </a>
                </li>

                <li th:each="menu : ${menuList}" class="sidebar-item">
                    <a class="sidebar-link d-flex align-items-center"
                       th:href="@{'/user/group/' + ${groupId} + '/' +${menu.menuPath}}">
                        <i class="align-middle" data-feather="square"></i>
                        <span class="align-middle" th:text="${menu.menuName}"></span>
                    </a>
                </li>




            </ul>


        </div>
    </nav>



</div>