<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamflow.Planus.domain.auth.login.repository.LoginMapper">
    <select id="login" resultType="com.teamflow.Planus.vo.UserVO">
        SELECT
            user_id AS userId,
            username AS username,
            email AS email,
            phone AS phone,
            login_id as loginId,
            password as password,
            role AS role
            FROM user
        WHERE login_id = #{userId}
    </select>
</mapper>